body{
    font-family: 'Akaya Telivigala', Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h3{
    padding-left:2%;
}

form{
    padding-left: 3%;
}

.tabulation{
    margin-left: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}